//Libraries
// CORE ED Grid
// Configuraciones
$prototype 			: true;
$dev 				: false;
$max-width 			: 1200px;
$l-unit 			: .5rem;
$gap 				: $l-unit * 4;  // 2rem
$fractions 			: 1 2 3 4 5 6 7 8 9 10;
$legacy 			: false;
$container 			: ed-container;
$item 				: ed-item;
$max-grid-columns 	: 12;

$breakpoints 		:
(
	s	: 0,
	m	: 480px,
	l	: 768px,
	lg	: 1200px,
	xl	: 1400px
);

@import "../../../node_modules/ed-grid/ed-grid";
@import "hamburgers";
@import "prismJS";
@import "animate";
