mixin top-user
	a(href="#").top-user__item.circle
		span.top-user__score.s-cross-center.s-main-center.smaller(title="puntaje del usuario") 205
		img(src="assets/img/img.jpg", alt="Usuario destacado", title="Usuario destacado")
