mixin user-foro
	.user-foro
		img(src="assets/img/img2.jpg", alt="Foto del usuario").user-foro__image
		.user-foro__info
			a(href="#").user-foro__name.small Usuario de EDteam
			time.user-foro__date.smaller.s-mt-05 04/06/2018
