.main-banner {
	//mobile-first settings
	color       		: $color-text-white;
	background  		: $color-first;
	--padding   		: 2rem;

	&.main-banner--secondary { background : $color-second	}
	&.main-banner--tertiary  { background : $color-third 	}
	&.main-banner--accent    { background : $color-accent 	}
	&.main-banner--dark      { background : $color-dark   	}
	&.diagonal {
		clip-path 		: polygon(0 0, 100% 0, 100% 100%, 0 84%);
	}

	// Separación del contenido
	padding-top    		: var(--padding);
	padding-bottom 		: calc(var(--padding) * 1.25);

	@include from(l) {
	--padding 			: 4rem;
	}

	&__button {
		border: 1px solid $color-border;
		&:hover{
			background: $color-accent;
			text-decoration: none;
		}
	}

	.main-banner__img {
		opacity 			: .3;
	}

	.main-banner__data {
		position 			: relative;
	}
}

