.main-banner {
	//mobile-first settings
	color       			: var(--color-text-white);
	background  			: var(--color-first);
	--padding   			: 2rem;

	&.main-banner--secondary { background : var(--color-second	)	}
	&.main-banner--tertiary  { background : var(--color-third	)	}
	&.main-banner--accent    { background : var(--color-accent	)	}
	&.main-banner--dark      { background : var(--color-dark	)	}
	&.diagonal {
		clip-path 			: polygon(0 0, 100% 0, 100% 100%, 0 84%);
	}

	// Separación del contenido
	padding-top    			: var(--padding);
	padding-bottom 			: calc(var(--padding) * 1.25); 

	@include from(l) {
	--padding 				: 4rem;
	}

	&__button {
		border				: 1px solid var(--color-border);
		&:hover{
			background 		: var(--color-accen);
			text-decoration	: none;
		}
	}
	.main-banner__img {
		opacity 			: .3;
	}
	.main-banner__data {
		position 			: relative;
	}
}

