@mixin tableStyle($tableBgTitleColor, $tableBgMainColor, $tableFontSize) {
	table-layout    : fixed;
	border-collapse : collapse;
	font-size       : fontSize($tableFontSize);
	background      : $tableBgMainColor;
	th {
		background   : $tableBgTitleColor;
		font-family : 'Open Sans', sans-serif;
		text-align   : left;
		color        : #FFF;
		font-weight  : 700;
		border-right : 1px solid rgba(#fff, .2);
	}
	td {
		border-bottom : 1px solid rgba($tableBgTitleColor, .3);
		min-width     : 100px;
		&:nth-child(even) {
			background : rgba(#DFE0E0, .2);
		}
	}
	tr:hover { background : rgba($tableBgTitleColor, .1) }

	&.first-column {
		td:first-child {
			background : rgba($tableBgTitleColor,.75);
			color: #fff;
		}
	}
	td, th {
		padding : 1em 1.5em;
	}
}

.table-container {
	width      : 100%;
	overflow-x : auto;
	border     : 1px solid #DFE0E0;
	margin-bottom : 2em;
	position : relative;
}


.ed-table{
	@include tableStyle(
		$tableBgTitleColor	: #ccc,
		$tableBgMainColor	: white,
		$tableFontSize		: small
	)
}
