//PWA tags here
meta(name="theme-color" content="#0096D9")
meta(name="MobileOptimized" content="width")
meta(name="HandheldFriendly" content="true")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
link(rel="shortcut icon" type="image/png" href="./assets/img/icon_1024.png")
link(rel="apple-touch-icon" href="./assets/img/icon_1024.png")
link(rel="apple-touch-startup-image" href="./assets/img/icon_1024.png")
link(rel="manifest" href="./manifest.json")
link(rel="author", type="text/plain", href="./humans.txt")
link(rel="sitemap", type="application/xml", title="Sitemap", href="./sitemap.xml")  

