

section(class='section-divider')
	div(class='ed-container')
		div(class='ed-item')
			h1 Cards 1 Grid System using CSS Grid
	div(class='ed-grid m-grid-2 lg-grid-4 gap-2 l-block row-gap')
		-for (let i = 1; i< 5; i++)
			div(class='card')
				div(class='img-container s-ratio-16-9 s-radius-tr s-radius-tl')
					img(src="assets/img/img.jpg")
				div(class='card__data s-border s-radius-br s-radius-bl s-pxy-2')
					div(class='t5 s-mb-2 s-center') Description
					div(class='s-mb-2 s-main-center')
						div(class='card__teacher s-cross-center')
							div(class='card__avatar s-mr-1')
								div(class='circle img-container')
									img(src="assets/img/img1.jpg")
							span(class='small') Name
					div(class='s-main-center')
						a(href="#" class='button--ghost-alert button--tiny') button


section(class='section-divider')
	div(class='ed-container')
		div(class='ed-item')
			h1 Cards 1 Grid System using CSS Grid three avatars
	div(class='ed-grid lg-grid-4 gap-2 l-block m-grid-2 row-gap')
		-for (let i = 1; i< 5; i++)
			div(class='card')
				div(class='img-container s-ratio-16-9 s-radius-tr s-radius-tl')
					img(src="assets/img/img.jpg")
				div(class='card__data s-border s-radius-br s-radius-bl s-pxy-2')
					div(class='t5 s-mb-2 s-center') Description
					div(class='s-mb-2 s-main-center card__teachers')
						div(class='card__teacher s-cross-center')
							div(class='card__avatar s-mr-1')
								div(class='circle img-container')
									img(src="assets/img/img1.jpg")
							span(class='small') Name1
						div(class='card__teacher s-cross-center')
							div(class='card__avatar s-mr-1')
								div(class='circle img-container')
									img(src="assets/img/img2.jpg")
							span(class='small') Name2
						div(class='card__teacher s-cross-center')
							div(class='card__avatar s-mr-1')
								div(class='circle img-container')
									img(src="assets/img/img3.jpg")
							span(class='small') Name3
					div(class='s-main-center')
						a(href="#" class='button--ghost-alert button--tiny') button

