mixin user(name,avatar,countryCode, country)
	.user
		.user__avatar
			img(src=`/assets/img/${avatar}`)
		.user__data
			.user__name=name
			.user__country
				img(src=`/assets/img/icon-flag-${countryCode}.svg`).user__flag
				=country


section.l-section.diagonal-section#programacion
	.ed-grid.cols-l-12.diagonal-section__content
		div.span-l-2
		div.home-users.span-l-9
			// Presentación
			.talk-break.l-section#presentacion
				.talk__hour 2:00pm <br> 2:35pm
				span Presentación y dinámica

			// Charla 1 - Jon
			.talk.l-section#jon
				.talk__hour 2:35pm <span>-</span> 3:00pm
				.talk__speaker
					+user('Jon MirCha','mircha.jpg','mx', 'México')
				.talk__info
					h3 Producto y propuesta de valor
					p Todo emprendimiento comienza por un producto que debe satisfacer una necesidad y una propuesta de valor que haga a este producto atractivo para los posibles clientes

			// Charla 2 - Freddy
			.talk.l-section#freddy
				.talk__hour 3:15pm <span>-</span> 3:40pm
				.talk__speaker
					+user('Freddy Cahuas','freddy.jpg','pe', 'Perú')
				.talk__info
					h3 Marketing y ventas
					p El marketing se encarga de acercar el producto al público al que puede interesarle y las ventas en la adquisición del producto. Sin ventas, no existe emprendimiento.

			// Charla 3 - Alexys
			.talk.l-section#alexys
				.talk__hour 3:55pm <span>-</span> 4:20pm
				.talk__speaker
					+user('Alexys Lozada','alexys.jpg','co', 'Colombia')
				.talk__info
					h3 Finanzas
					p Vender no basta, se necesita comprender cuanto dinero entra, cuanto dinero sale, cuanto es la ganancia real y si el emprendimiento es sostenible o no.

			// Coffe break
			.talk-break.l-section.second
				.talk__hour 4:20pm <br> 4:40pm
				span Coffe break

			// Charla 4 - Beto
			.talk.l-section#beto
				.talk__hour 4:55pm <span>-</span> 5:20pm
				.talk__speaker
					+user('Beto Quiroga','beto.jpg','bo', 'Bolivia')
				.talk__info
					h3 Gestión y operaciones
					p La gestión consiste en administrar los recursos económicos, humanos, físicos y tecnológicos para conseguir los objetivos de la empresa.

			// Charla 5 - Alvaro
			.talk.l-section#alvaro
				.talk__hour 5:35pm <span>-</span> 6:00pm
				.talk__speaker
					+user('Álvaro Felipe','alvaro.jpg','pe', 'Perú')
				.talk__info
					h3 Liderazgo y estrategia
					p El liderazgo mantiene unido y motiva al equipo, define los objetivos a seguir y analiza el mercado para definir las estrategias adecuadas.

			// Charla 6 - Manu
			.talk.l-section#manu
				.talk__hour 6:15pm <span>-</span> 6:40pm
				.talk__speaker
					+user('Manu Rodriguez','manu.jpg','pe', 'Perú')
				.talk__info
					h3 Relaciones públicas y clientes
					p Ningún emprendimiento puede crecer solo, se requiere relaciones para obtener nuevas oportunidades. Además la buena atención al cliente asegura las ventas futuras.

			// Premiación
			.talk-break.l-section.third#premiacion
				.talk__hour 6:55pm <br> 7:30pm
				span Premiacion
