.course-header
	.ed-grid.cols-l-5
		.span-l-3
			.course-data
				h1.course-data__title#course-title Main Title
				p.course-data__subtitle Subtitle
				p.course-data__description Description
				.course-data__more-info.small
					.course-data__calification
						.course-data__stars
							p &#9733; &#9733; &#9733; &#9733; &#9733;
						.course-data__stars-info
							p p Sub Information
					.course-data__live-or-record
						p.cross-center
							svg.svg-icon.before
								use(href="img/icons.svg#live")
							span span Sub Information
		.span-l-2
