section(class='section-divider')
	div(class='ed-container')
		div(class='ed-item')
			h2 Grid ed-items using flex-box
	div(class='ed-container')
		div(class='ed-item box-color')
			span Esta es una caja al 100% de ancho
		-for (var i=1; i<=3; i++)
			div(class='ed-item box-color m-1-3')
				span bp-1-3
	div(class='ed-container')
		-for (var i=1; i<=4; i++)
			div(class='ed-item box-color m-1-6')
				span bp-1-6
		div(class='ed-item box-color m-2-6')
			span bp-2-6
	div(class='ed-container')
		-for (var i=1; i<=5; i++)
			div(class='ed-item box-color m-1-8')
				span bp-1-8
		div(class='ed-item box-color m-3-8')
			span bp-3-8
	div(class='ed-container')
		-for (var i=1; i<=7; i++)
			div(class='ed-item box-color m-1-7')
				span bp-1-7
	div(class='ed-container')
		-for (var i=1; i<=7; i++)
			div(class='ed-item box-color m-1-9')
				span bp-1-9
		-for (var i=1; i<=2; i++)
			div(class='ed-item box-color m-1-9')
				span bp-1-9
	div(class='ed-container')
		-for (var i=1; i<=2; i++)
			div(class='ed-item box-color m-25')
				span bp-25%
		div(class=' ed-item box-color m-50')
			span bp-50%
	div(class='ed-container')
		div(class=' ed-item box-color total')
			span Esta es una caja total
	div(class='ed-container')
		-for (var i=1; i<=2; i++)
			div(class='ed-item box-color m-25')
				span bp-25%
		div(class='ed-item box-color m-50')
			span bp-50%
		div(class=' ed-item box-color total')
			span Esta es otra caja total
		-for (var i=1; i<=3; i++)
			div(class=' ed-item box-color m-1-3')
				span bp-1-3
	div(class='ed-container')
		div(class=' ed-item box-color m-100 md-50 lg-25')
			span Caja 1
		div(class=' ed-item box-color m-100 md-50 lg-75')
			span Caja 2
