h1 Lightbox gallery
div(class='gallery-container', id='gallery-container')
	- var n = 1
	while n <= 12
		.gallery-item
			img(src="assets/img/gallery-" + n + "-thumb.jpg" alt="Descripcion de la imagen " + n).gallery-img
			-n++



