nav(class='main-nav')
	div(class='ed-grid s-grid-5 l-grid-4')
		div(class='s-cols-4 l-cols-1 s-cross-center')
			a(href="https://kikeestrada.github.io/myStyleGuide/public/")
				img(src="assets/img/img1.jpg" class='main-logo')
		div(class='s-grid-1 l-cols-3 s-cross-center s-main-end header-links')
			nav(class='main-menu' id='main-menu')
				ul
					li: a(href="https://kikeestrada.github.io/myStyleGuide/public/") Home
					li: a(href="page2.html") Page 2
			div(class='main-menu-toggle to-l' id='main-menu-toggle')
