mixin row(image, account, clabe, name)
	.method-payment__row
		.method-payment__column
			img.method-payment__image(src=image, alt="Método de pago")
		.method-payment__column
			p.method-payment__info Cuenta: #[span(class="method-payment__span")= account]
		.method-payment__column
			p.method-payment__info Clabe: #[span(class="method-payment__span")= clabe]
		.method-payment__column= `Titular: ${name}`


.ed-container(style="justify-content: center;")
	section.method-payment
		h3.method-payment__title México
		article.method-payment__container
			+row("assets/img/img1.jpg", "9007-0358866", "002180900703588669", "Jonathan Mircha")
			+row("assets/img/img2.jpg", "9007-0358866", "002180900703588669", "Jonathan Mircha")
			+row("assets/img/img3.jpg", "5256780180075498", "002180900703588669", "Jonathan Mircha")
