section(class='section-divider')
	div(class='ed-container')
		div(class='ed-item')
			h1(class='t2') Modal
			p
				| Las ventanas modales se usan para mostrar información importante pero oculta para el usuario
				| hasta que realice alguna acción (como pulsar un botón).
			a.button.center(href="#")#open-modal Abrir modal



