mixin playlist
	article.playlist
		header.playlist__header
			.playlist__header-meatballs
			a.playlist__header-content(href="#")
				span.playlist__header-fragment Tipos de listas
				span.playlist__header-course Course Name (2018)
			img.playlist__header-cover(src="assets/img/img3.jpg", alt="Portada de playlist")
		.playlist__content
			a.playlist__button-add(href="#")
			h3.playlist__title PlayList Title
			input.playlist__search(type="search" placeholder="Buscar clase")
			.playlist__list
				- for(let i = 1; i <= 10; i++)
					a(href="#").playlist__item
						.playlist__item-data
							span.playlist__item-index= i < 10 ? `${i}` : i
							.playlist__item-content
								span.playlist__item-fragment Tipos de listas
								span.playlist__item-course CSS Desde Cero 2018
						.playlist__item-action
							span.playlist__item-time 06:24
							img.playlist__item-button-delete(src="https://ux.ed.team/img/delete.svg", alt="Botón eliminar")


div(class='ed-container')
	div(class='ed-item')
		h1 Play List
.ed-grid.cols-m-2
	+playlist
	+playlist
