div(class='ed-container')
	div(class='ed-item')
		h2 Media query image inline
	div(class='ed-item') 
		+rwdImage(
			'img1.jpg','alt-image1',
			'img2.jpg','alt-image2',
			'img3.jpg','alt-image3',
			'img4.jpg','alt-image3'
			)
