div(class='ed-container')
	div(class='ed-item')
		h1 Search Filter
	div(class='ed-item')
		input(type='search', id='searchInput', placeholder='search')
div(class='ed-grid s-grid-1 m-grid-2 l-grid-4')
	article(class='class-item')
		h1(class='class-item__title') Article 1
		ul(class='class-item__fragments-container')
			li(class='class-item__fragment') Presentacion e historia de JavaScript
			li(class='class-item__fragment') Como Utilizar JavaScript
			li(class='class-item__fragment') Sintaxis
			li(class='class-item__fragment') Espacios en Blanco
			li(class='class-item__fragment') Variables y Constantes
			li(class='class-item__fragment') tipos de Datos
			li(class='class-item__fragment') Operadores
	article(class='class-item')
		h1(class='class-item__title') Article 2
		ul(class='class-item__fragments-container')
			li(class='class-item__fragment') Length y metodos de String
			li(class='class-item__fragment') If - Else
			li(class='class-item__fragment') Valores trutly
			li(class='class-item__fragment') switch
			li(class='class-item__fragment') Entorno de desarrollo
			li(class='class-item__fragment') Estucturas de Datos
			li(class='class-item__fragment') Eventos
	article(class='class-item')
		h1(class='class-item__title') Article 3
		ul(class='class-item__fragments-container')
			li(class='class-item__fragment') Configurando entorno de desarrollo
			li(class='class-item__fragment') LightBox: Estructura y Pug
			li(class='class-item__fragment') Scroll animado en reverso
			li(class='class-item__fragment') El objeto window
			li(class='class-item__fragment') Coordenadas Scroll y Storage
			li(class='class-item__fragment') Date y metodos Set
			li(class='class-item__fragment') Ejercicio Date con formato personalizado
	article(class='class-item')
		h1(class='class-item__title') Article 4
		ul(class='class-item__fragments-container')
			li(class='class-item__fragment') Arrays
			li(class='class-item__fragment') Metodos pop, shift, join, slice
			li(class='class-item__fragment') Metodos ES6 - find y findindex
			li(class='class-item__fragment') Iteradores
			li(class='class-item__fragment') Objetos
			li(class='class-item__fragment') Copiar expresiones
			li(class='class-item__fragment') Undefined
