div(class='ed-container')
	div(class='ed-item')
		h1 Search Filter
	div(class='ed-item')
		input(type='search', id='searchInput', placeholder='search')
	div(class='ed-item')
		article(class='class-item')
			h1(class='class-item__title') Article 1
			ul(class='class-item__fragments-container')
				li(class='class-item__fragment') Presentacion e historia de JavaScript
				li(class='class-item__fragment') Como Utilizar JavaScript
				li(class='class-item__fragment') Sintaxis
				li(class='class-item__fragment') Espacios en Blanco
				li(class='class-item__fragment') Variables y Constantes
				li(class='class-item__fragment') tipos de Datos
				li(class='class-item__fragment') Operadores
		article(class='class-item')
			h1(class='class-item__title') Article 2
			ul(class='class-item__fragments-container')
				li(class='class-item__fragment') Length y metodos de String
				li(class='class-item__fragment') If - Else
				li(class='class-item__fragment') Valores trutly
				li(class='class-item__fragment') switch
				li(class='class-item__fragment') Entorno de desarrollo
				li(class='class-item__fragment') Estucturas de Datos
				li(class='class-item__fragment') Eventos
