section(class='section-divider')
	div(class='ed-tables')
		div(class='ed-container')
			div(class='ed-item')
				h2 Table Component
			div(class='ed-item')
				mixin celdas(factor)
						- for (var i = 1; i <= 12; i++)
							td= i * factor
				div(class='table-container')
					table(class='ed-table first-column')
						tr
							th
							th Enero
							th Febrero
							th Marzo
							th Abril
							th Mayo
							th Junio
							th Julio
							th Agosto
							th Setiembre
							th Octubre
							th Noviembre
							th Diciembre
						tr
							td Ventas
							+celdas(50)
						tr
							td Gastos
							+celdas(50)
						tr
							td Impuestos
							+celdas(50)
						tr
							td Ventas
							+celdas(50)
						tr
							td Gastos
							+celdas(50)
						tr
							td Impuestos
							+celdas(50)
