div(class='ed-container')
	div(class='ed-item')
		h1 Tabs
	div(class='ed-item')
		.edui-tabs
			.tabs
				.tab Opcion 1
				.tab Opcion 2
				.tab Opcion 3
				.tab Opcion 4
			.panels
				.panel
					h2 Opcion 1
					p Lorem ipsum dolor sit amet,
				.panel
					h2 Opcion 2
					p Lorem ipsum dolor sit amet,
				.panel
					h2 Opcion 3
					p Lorem ipsum dolor sit amet,
				.panel
					h2 Opcion 4
					p Lorem ipsum dolor sit amet,
