div(class='ed-container')
	div(class='ed-item')
		div(class='edui-tabs')
			div(class='tabs')
				-for (var i=1; i<=4; i++)
					div(class='tab'): img(src="http://ux.ed.team/img/icon-flag-pe.svg")
			div(class='panels')
				-for (var i=1; i<=4; i++)
					div(class='panel')
						div(class='ed-container')
							div(class='ed-item')
								h3(class='t2') Tab- #{i}

