nav(class='top-nav')
	div(class='top-nav__container')
		a(href='./', class='top-nav__link')
			img(src='assets/img/img1.jpg', alt='', class='top-nav__logo')
		ul(class='top-nav__menu')
			li(class='top-nav__li'): a(href='./', 			class='top-nav__anchor') home
			li(class='top-nav__li'): a(href='page2.html', 	class='top-nav__anchor') page2
			li(class='top-nav__li'): a(href='page3.html', 	class='top-nav__anchor') page3
			li(class='top-nav__li'): a(href='page4.html', 	class='top-nav__anchor') page4
		button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r')
			span.hamburger-box
				span.hamburger-inner

