nav(class='top-nav')
	div(class='top-nav__container')
		img(src='assets/img/img1.jpg', alt='', class='top-nav__logo')
		ul(class='top-nav__menu')
			li: a(href='#', class='myclass') item1
			li: a(href='#', class='myclass') item1
