mixin chat-message(message)
	.chat__message
		.chat__message-avatar
			img(src="http://lorempixel.com/400/200/" alt="nombre-de-usuario")
		.chat__mensage-content
			span.chat__message-user.small Alvaro Felipe
			span.chat__message-date.small 16:32
			p.chat__message-comment=message

mixin subject
	.class-subject
		h3.class-subject__title Introducción
		ul.class-fragments.data-list
			li.class-fragment
				span.class-fragment__title
					a(href="#") 1.1 Introduccion
				span.class-fragment__duration 07:25
			li.class-fragment
				span.class-fragment__title
					img(src="https://ux.ed.team/img/approve.svg")
					a(href="#") 1.2 Historia de CSS (este es un titulo muy largo)
				span.class-fragment__duration 07:25
			li.class-fragment
				span.class-fragment__title
					a(href="#") 1.1 Introduccion
						span.button--ghost--alert.button--tiny Ver gratis
				span.class-fragment__duration 07:25



article.video-class#video-class
	.video-class--container
		.video-class--element#video-element
			<iframe src="https://player.vimeo.com/video/258828489" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	footer.video-class--footer
		.ed-container.full
			.ed-item.s-60
				h1.video-class--title Variables CSS
				p.video-class--course.small Curso CSS Desde Cero (2018)
			.ed-item.s-40.cross-center.main-end
				.video-class--navigation
					img(src="assets/img/icon-prev.svg").video-class--prev

