extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de EDboilerplate'
block main-header
block main-container
	h1 Hello World
	include:markdown-it(html) ../md/example.md
	div(class='ed-container')
		div(class='ed-item')
block main-footer
