extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'My Boilerplate 2019'
block main-header
block main-container
	h1 MyGulpBoilerplate2019
block main-footer
