extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	+banner(
		"https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
		'Home',
		'Description',
		false,
		''
	)
block main-container	
	include ../components/rwd-images 
	include ../components/tables
	include ../components/img-gallery
	include ../components/cards
	include ../components/listas
	include ../components/markdown
	include ../components/forms 
	include ../components/listas 

block main-footer
block scripts 




