extends ../config/template
append config
	-currentPage        = "page3"
	-siteName           = 'Layouts'
	-content            = 'content'
	-pageDescription    = 'Pagina inicial de EDboilerplate'
block main-header
	+banner(
		"https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
		'Home',
		'Description',
		true,
		''
	)
block main-container
	.ed-container.main-section
		include ../components/side-menu	
		main(itemscope itemprop="mainContentOfPage" role="main").ed-item.l-75.main-main
			:markdown-it
				# Page 4
				- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
				- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
				- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
				- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
block main-footer
block scripts
