block config
	include vars
	include mixins/mixins
doctype html
html(lang='en' prefix='og: http://ogp.me/ns#', class='no-js')
	include utilis/body-utilies/IEtags
	head
		include utilis/head-utilies/metatags
		include utilis/head-utilies/metaTagsPWA
		include utilis/head-utilies/HTML5Shiv
		include utilis/head-utilies/openGraph
		include utilis/head-utilies/twetterCard
		include utilis/head-utilies/cdnFonts
		include utilis/head-utilies/cdnStyles
		link(rel="stylesheet" href="assets/css/styles.css")
		title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
	body(class=currentPage, itemscope itemtype="http://schema.org/WebPage")
		include utilis/body-utilies/upBrowser
		//-here start the Main Header
		header(class='main-header')
			block main-header
		//-here start the Main Container
		main(class='main-container')
			block main-container
		//-here start the Main Footer
		footer(class='main-footer')
			block main-footer
		include utilis/body-utilies/cdnLibraries
		script(src="assets/js/scripts-min.js")
