*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: #006DC6;
}

strong {
	font-weight 	: 700;
}

body {
	margin         	: var(--header-height) 0 0 0;
	min-height     	: calc(100vh - var(--header-height));
	background 		: var(--body-bg);
	display        	: flex;
	flex-direction 	: column;
}

.main-header{}
.main-container{}
.main-footer {
	background 		: $color-first;
	color      		: #FFF;
	padding    		: 2rem 0;
	font-size  		: fontSize(small);
	margin-top 		: auto;
}
