//layout
:root {
  --header-height 		: 3rem;
  @include from(l) {
    --header-height 	: 4rem;
  }

	//native color vars
	--color-first      	: #007BDF;
	--color-second     	: #00CBFF;
	--color-third      	: #FF3C32;
	--color-accent     	: #FBA905;
	--color-dark       	: #282D31;
	--color-border     	: #DFE0E0;
	--color-light      	: #EAEAEA;
	--color-text-white	: #FFFFFF;
	--color-text-gray	: #53575A;
	--color-body-bg 	: #F6F6F6;

	//Native z-index vars
	--z-back    		: -10;
	--z-normal  		: 1;
	--z-tooltip 		: 10;
	--z-fixed   		: 100;
	--z-modal   		: 1000;
}




// Sass Color Vars
$color-first 			: var(--color-first			);
$color-second 			: var(--color-second		);
$color-third 			: var(--color-third			);
$color-accent 			: var(--color-accent		);
$color-dark 			: var(--color-dark			);
$color-border 			: var(--color-border		);
$color-light 			: var(--color-light			);
$color-text-white 		: var(--color-text-white	);
$color-text-gray 		: var(--color-text-gray		);
$color-body-bg 			: var(--color-body-bg		);


//Sass z-index vars
$z-back    				: var(--z-back				);
$z-normal  				: var(--z-normal			);
$z-tooltip 				: var(--z-tooltip			);
$z-fixed   				: var(--z-fixed				);
$z-modal   				: var(--z-modal				);


// Images path
$images-path: 'https://ux.ed.team/img';


// Colors
$firstColor  : #007BDF;
$secondColor : #00CBFF;
$thirdColor  : #FF3C32;
$accentColor : #FBA905;
$darkColor   : #171A1C;

// Complementary colors:
$borderColor : #DFE0E0;
$textColor   : #53575A;
$bodyBg      : #FAFDFF;

// z-ndex
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;