@import "libraries/libraries";
@import "config/config";
@import "layout/layout";
@import "utilies/utilies";
@import "components/components";
@import "config/typography";
@import "hacks/hacks";
// Código en línea
:not(pre) code {
	@include small;
	font-family : Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
	background  : var(--color-light);
	border      : 1px solid var(--color-border);
	color: #FF3C32;
	padding     : 0 .25em;
	margin      : 0 .1em;
	word-break  : break-all;
}
