.box-color{
	background: #cccccc;
	color: #666666;
	border: 1px solid white;
	padding: 5px 15px;
}

.section-divider{
	padding-bottom: 30px;
}
img {
	border: 0;
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}


.sidebar-first {
  margin-bottom : 1em;
}

// Código en línea
:not(pre) code {
	@include small;
	font-family : Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
	background  : var(--color-light);
	color: var(--third-color);
	padding     : 0 .25em;
	margin      : 0 .1em;
	word-break  : break-all;
  }
  