mixin banner(img, title, description, boton, clase)
	.main-banner.img-container.diagonal(class=`${clase}`)
		div(class='ed-grid lg-grid-6')
			div(class='lg-cols-4 lg-x-2')
				img(src=img class='main-banner__img')
				div(class='main-banner__data s-center')
					p(class='s-mb-0 t2')= title
					if (description)
						p= description
					if (boton)
						a(href="#" class='button') Button Model
