//mixins imported from myStylkeGuide
include main-banner
include mixin-picture
include mixin-youtube-id
include mixin-youtube-iframe



include foro/atoms
include foro/comment
include foro/editor
include foro/featured-publication
include foro/pagination
include foro/publication
include foro/sidebar
include foro/top-user
include foro/user
